.container {
  margin: 0 auto;
  padding: 64px;
  max-width: 640px;
}

.webcam__wrapper {
  position: relative;
  height: 340px;
  margin-bottom: 24px;
}

@media (max-width: 625px) {
  .webcam__wrapper {
    height: 250px;
    margin-bottom: 0px;
  }
}

.video__wrapper {
  margin-bottom: 24px;
  position: absolute;
  width: 100%;
}

.canvas__wrapper {
  position: absolute;
  width: 100%;
}

.captured__img--wrapper {
  position: relative;
}

.captured__img {
  position: absolute;
  max-width:100%;
}

.captured__img--mesh {
  position: absolute;
  z-index: 100;
  left: 0;
  max-width:100%;
}

.controls {
  margin: 24px 0;
  background: #ccc;
  border-radius: 8px;
  padding: 12px;
}

.btn {
  padding: 12px 18px;
  font-size: 16px;
  font-weight:bold;
  border: none;
  background: black;
  color: #fff;
  border-radius: 8px;
  margin-right: 8px;
}

video, canvas {
  aspect-ratio: 16 / 9;
  max-width: 100%;
  height: auto;

}

.loading {
  position: absolute;
  background: #fff;
  opacity:  .5;
  width: 100%;
  padding: 8px;
  font-size: 16px;
}